<%= render 'navbar' %>
<main>
  <div class="blog-snippet">
    <h3><%= @blog1 %></h3>
    <h4><%= @date1 %></h4>
    <p><%= @caption1 %></p>
  </div>

  <div class="blog-snippet">
    <h3><%= @blog2 %></h3>
    <h4><%= @date2 %></h4>
    <p><%= @caption2 %></p>
  </div>

  <div class="blog-snippet">
    <h3><%= @blog3 %></h3>
    <h4><%= @date3 %></h4>
    <p><%= @caption3 %></p>
  </div>

</main>
<%= render 'footer' %>