<%= render 'navbar' %>
<main>

<div class="main-blurb">
  <h3>Comments / Feedback? Let me know!</h3>
  <p><div class="contact-title">Name: </div> <div class="contact-value"><%= @name %></div></p>
  <p><div class="contact-title">Phone: </div> <div class="contact-value"><%= @phone %></div></p>
  <p><div class="contact-title">Email: </div> <div class="contact-value"><%= @email %></div></p>
</div>
  </main>
<%= render 'footer' %>