<%= render 'navbar' %>
<main id="top">
  <img class="hero-img"
    src="<%= @img_src %>"
    width="100%">
  <div class="main-blurb">
    <p>
      <%= @greeting %>. Welcome to <%= @blog_name %>. 
    </p>
    <p>
      This is where I write about Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel eius sit, iure eligendi tenetur ipsum consequatur eaque nihil fugit magnam eveniet qui possimus cumque? Fugiat odit esse deserunt est enim.
      Alias illum sapiente molestiae soluta natus, cumque doloremque fugiat incidunt asperiores, eligendi veniam, ipsum non libero! Nihil itaque possimus repudiandae placeat ea.
      Distinctio eius quaerat voluptatibus pariatur assumenda aut iusto error commodi doloremque. Ut itaque, voluptates amet aut alias quibusdam? Deleniti provident sunt neque!
    </p>
    <p>
      Nihil placeat natus repellat at? Iste omnis error facere necessitatibus tempore ipsam? Quis eaque illo quo itaque excepturi magnam sint assumenda in!
    </p>
    <p>
      Cumque minima obcaecati blanditiis, repellat necessitatibus similique ab nemo accusamus et placeat voluptatum laboriosam expedita commodi ex nostrum harum! Tempora, sapiente repellat.
      Eveniet recusandae nulla cumque velit neque aut accusamus magni molestias aperiam odio quam voluptate dicta fugiat sunt sequi expedita temporibus, vero consectetur?
      Odit explicabo delectus ullam commodi, laboriosam alias nostrum officia voluptates nihil quod nulla magni dolore similique modi quibusdam voluptate? Quos, incidunt quaerat!
    </p>
  </div>
</main>
<%= render 'footer' %>

